html
   head
    include partials/head.jade
   body
    include partials/menu.jade
    br
    br
    br
    include partials/headline.jade
    br
    .container
      .row
        .col-md-12
          img.img-responsive(src='images/main.jpg', alt='iLoveMyCity')
    include partials/jsIncludes.jade
